{% extends 'base.html'%}
{% load pybo_filter%}
{%block content%}
<div class="container my-3">
    <!--messages-->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages%}
        <strong>{{message.tags}}</strong>
        <ul><li>{{message.message}}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <!--질문-->
    <h2 class="border-bottom py-2">
        {{question.subject}}
    </h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" >
                {{question.content|mark}}
            </div>
            <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{question.author.username}}</div>
                <div>{{question.create_date}}</div>
            </div>
        </div>
        <div class="my-3">
            <a href="javascript:void(0)" data-uri="{% url 'pybo:question_vote' question.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 추천
                <span class="badge rounded-pill bg-success">{{question.voter.count}}</span>
            </a>
            {% if request.user == question.author%}
            <a href="{% url 'pybo:question_modify' question.id%}" class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
            data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a>
            {%endif%}
        </div>
    </div>
</div>
<!--답변-->
<h5 class="border-bottom my-3 py-2">
    {{question.answer_set.count}}개의 답변이 있습니다.
</h5>
{%for answers in question.answer_set.all%}
<a id="answer_{{answers.id}}"></a>
<div class="card my-3">
    <div class="card-body">
        <div class="card-text" >
            {{answers.content|mark}}
        </div>
    <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">{{answers.author.username}}</div>
            <div>{{answers.create_date}}</div>
        </div>
    </div>
    <div class='my-3'>
        <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_vote' answers.id %}"
        class="recommend btn btn-sm btn-outline-secondary">
        추천
        <span class="badge rounded-pill bg-success">{{answers.voter.count}}</span>
        </a>
        {% if request.user == answers.author%}
        <a href="{% url 'pybo:answer_modify' answers.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete btn btn-sm btn-outline-secondary "
        data-uri="{% url 'pybo:answer_delete' answers.id  %}">
        삭제
        </a>
        {% endif %}
    </div>
</div>
</div>
{% endfor %}
<!--답변 등록-->
<form action="{%url 'pybo:answer_create' question.id %}" method="post" class="my-3">
 {% csrf_token %}
 <!-- 오류표시 Start -->
 {% include 'form_errors.html'%}
 <!-- 오류표시 End -->
 <div class="mb-3">
    <label for="content" class="form-label">답변내용</label>
    <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
</div>
<input type="submit" value="답변등록"
class="btn btn-primary">
</form>
</div>
{%endblock%}
{%block script%}
<script type="text/javascript">
    const delete_elements=document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener("click", function(){
            if(confirm("You gonna delete this for real?")){
                location.href=this.dataset.uri;
            };
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{%endblock%}