<!doctype html>
{% load static%}

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
    <title>Hello, Pybo!</title>
</head>
<body>
   <!--네비게이션바-->
   {% include "navbar.html" %}

    {% block content%}
    {% endblock %}
    <!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!--자바스크립트들-->
{% block script%}
{% endblock %}
</body>
</html>
